#screen{
    background-color: aquamarine;
}

#player{
    
}

#controls{
    text-align: center;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "attack defend finish";
    background-color: lightgray;
}

.button{
    text-align: center;
    font-size: xx-large;
}

#attack{
    background-color: #EB90AF;
    color: #8DB2C5;
    /*width: 33%;*/
}
#attack:hover{
    background-color: #8DB2C5;
    color: #EB90AF;
}

#defend{
    background-color: gold;
    color: cyan;
    /*width: 33%;*/
}
#defend:hover{
    background-color: cyan;
    color: gold;
}

#finisher{
    background-color: black;
    color: antiquewhite;
    /*width: 33%;*/
}
#finisher:hover{
    background-color: antiquewhite;
    color: black;
}