#screen{
    display: flex;
    align-items: flex-start;
    height: 4fr;
}

#player{
    margin-top: 7%;
    margin-right: 15%;
}

#controls{
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    height: 1fr;
}

.button{
    text-align: center;
    height: 60px;
    padding: 60px;
    font-size: xx-large;
}

#attack{
    background-color: #EB90AF;
    color: #8DB2C5;
    width: 33%;
}
#attack:hover{
    background-color: #8DB2C5;
    color: #EB90AF;
}

#defend{
    background-color: gold;
    color: cyan;
    width: 33%;
}
#defend:hover{
    background-color: cyan;
    color: gold;
}

#finisher{
    background-color: black;
    color: antiquewhite;
    width: 33%;
}
#finisher:hover{
    background-color: antiquewhite;
    color: black;
}